In [13]:
import pandas as pd
import os
import numpy

In [16]:
# Define the folder path where your CSV files are located
folder_path = '../feeddata/'

In [14]:


# Get a list of all files in the folder
files = os.listdir(folder_path)

# Filter files that start with 'tu' and end with '.csv'
tu_csv_files = [file for file in files if file.startswith('tu') and file.endswith('.csv')]

# Initialize an empty DataFrame to store the concatenated data
df_tu_total = pd.DataFrame()

dtypes = {'id': str,
 'isDeleted': str,
 'tripUpdate.trip.tripId': str,
 'tripUpdate.trip.startTime': str,
 'tripUpdate.trip.startDate': str,
 'tripUpdate.trip.routeId': str,
 'tripUpdate.trip.directionId': str,
 'tripUpdate.stopTimeUpdate': str,
 'tripUpdate.vehicle.id': str,
 'tripUpdate.vehicle.label': str,
 'tripUpdate.timestamp': int,
 'tripUpdate.delay': float,
 'max_time': int}

# Loop through each CSV file and concatenate them
for file in tu_csv_files:
    file_path = os.path.join(folder_path, file,  )
    data = pd.read_csv(file_path, sep = ";", dtype = dtypes)  # Read the CSV file
    df_tu_total = pd.concat([df_tu_total, data], ignore_index=True)  # Concatenate the data

In [15]:
# Convert Unix timestamp to datetime
df_tu_total['tripUpdate.timestamp'] = pd.to_datetime(df_tu_total['tripUpdate.timestamp'], unit='s')
df_tu_total['max_time'] = pd.to_datetime(df_tu_total['max_time'], unit='s')

df_tu_total.to_csv('./output_data/tu_feed.csv', index=False)

OSError: Cannot save file into a non-existent directory: 'output_data'

In [17]:
# Get a list of all files in the folder
files = os.listdir(folder_path)

# Filter files that start with 'tu' and end with '.csv'
tu_csv_files = [file for file in files if file.startswith('vp') and file.endswith('.csv')]

# Initialize an empty DataFrame to store the concatenated data
df_vp_total = pd.DataFrame()

{'id': str,
 'isDeleted': str,
 'vehicle.trip.tripId': str,
 'vehicle.trip.startTime': str,
 'vehicle.trip.startDate': str,
 'vehicle.trip.routeId': str,
 'vehicle.trip.directionId': str,
 'vehicle.position.latitude': str,
 'vehicle.position.longitude': str,
 'vehicle.position.odometer': str,
 'vehicle.currentStopSequence': str,
 'vehicle.currentStatus': str,
 'vehicle.timestamp': int,
 'vehicle.stopId': str,
 'vehicle.vehicle.id': str,
 'vehicle.vehicle.label': str,
 'vehicle.occupancyStatus': str,
 'vehicle.trip.scheduleRelationship': str,
 'max_time': int}

# Loop through each CSV file and concatenate them
for file in tu_csv_files:
    file_path = os.path.join(folder_path, file,  )
    data = pd.read_csv(file_path, sep = ";", dtype = dtypes)  # Read the CSV file
    df_vp_total = pd.concat([df_vp_total, data], ignore_index=True)  # Concatenate the data

In [18]:
df_vp_total['vehicle.timestamp'] = pd.to_datetime(df_vp_total['vehicle.timestamp'], unit='s')
df_vp_total['max_time'] = pd.to_datetime(df_vp_total['max_time'], unit='s')

In [19]:
# Save the concatenated data to a new CSV file
df_vp_total.to_csv('../output_data/vp_feed_large.csv', index=False)

In [5]:
df_vp_total.shape

(205675, 19)

In [6]:
df_tu_total.shape

(205711, 13)

In [7]:
df_vp_total

,id,isDeleted,vehicle.trip.tripId,vehicle.trip.startTime,vehicle.trip.startDate,vehicle.trip.routeId,vehicle.trip.directionId,vehicle.position.latitude,vehicle.position.longitude,vehicle.position.odometer,vehicle.currentStopSequence,vehicle.currentStatus,vehicle.timestamp,vehicle.stopId,vehicle.vehicle.id,vehicle.vehicle.label,vehicle.occupancyStatus,vehicle.trip.scheduleRelationship,max_time
0,1,False,0#725-19,15:13:00,20230906,089,1.0,41.839270,12.354187,24697.0,11,IN_TRANSIT_TO,2023-09-06 13:19:24,71529,197,246,NaN,NaN,2023-09-06 13:19:31
1,2,False,0#4512-15,14:52:00,20230906,870,0.0,41.875412,12.446725,33385.0,16,IN_TRANSIT_TO,2023-09-06 13:19:06,73006,199,248,NaN,NaN,2023-09-06 13:19:31
2,3,False,0#4687-10,14:58:00,20230906,228,0.0,41.836143,12.436691,45207.0,25,IN_TRANSIT_TO,2023-09-06 13:19:26,74686,202,251,NaN,NaN,2023-09-06 13:19:31
3,4,False,0#2927-13,15:09:00,20230906,713,0.0,41.841660,12.437482,21608.0,11,IN_TRANSIT_TO,2023-09-06 13:19:08,74639,206,255,NaN,NaN,2023-09-06 13:19:31
4,5,False,0#4513-15,15:16:00,20230906,870,0.0,41.901520,12.463830,1596.0,2,IN_TRANSIT_TO,2023-09-06 13:19:18,82181,209,258,NaN,NaN,2023-09-06 13:19:31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205670,872,False,0#1923-13,14:52:00,20230906,44,0.0,41.884975,12.463563,2051.0,26,IN_TRANSIT_TO,2023-09-06 13:20:20,70312,4624,839,MANY_SEATS_AVAILABLE,NaN,2023-09-06 13:20:32
205671,873,False,0#4636-12,14:34:00,20230906,62,0.0,41.900738,12.462905,2784.0,27,IN_TRANSIT_TO,2023-09-06 13:19:52,82181,4625,840,MANY_SEATS_AVAILABLE,NaN,2023-09-06 13:20:32
205672,874,False,0#2068-11,14:48:00,20230906,490,1.0,41.909973,12.487826,2420.0,23,IN_TRANSIT_TO,2023-09-06 13:20:30,71405,4626,841,MANY_SEATS_AVAILABLE,NaN,2023-09-06 13:20:32
205673,875,False,0#47-11,13:42:00,20230906,H,0.0,41.898632,12.490030,3085.0,29,IN_TRANSIT_TO,2023-09-06 13:20:22,70082,4627,842,NaN,NaN,2023-09-06 13:20:32
205674,876,False,0#4643-10,14:17:00,20230906,62,0.0,41.899628,12.453310,3173.0,29,IN_TRANSIT_TO,2023-09-06 13:19:36,72084,4628,843,NaN,NaN,2023-09-06 13:20:32

In [2]:
atac_state = pd.read_csv(r"./output_data/atac_state_full.csv")

/var/folders/wp/hp437k1x56n9y9m31x7fsx640000gn/T/ipykernel_6468/3109705268.py:1: DtypeWarning: Columns (3,8) have mixed types. Specify dtype option on import or set low_memory=False.
  atac_state = pd.read_csv(r"./output_data/atac_state_full.csv")

In [3]:
atac_state

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,shape_dist_traveled,timepoint,route_id,service_id,trip_headsign
0,1#1-2,07:30:00,07:30:00,74761,1,NaN,0,1,T01,1#28,TUSCOLANA/ANAGNINA
1,1#1-2,07:34:26,07:34:26,74763,2,NaN,1167,0,T01,1#28,TUSCOLANA/ANAGNINA
2,1#1-2,07:36:26,07:36:26,74765,3,NaN,1697,0,T01,1#28,TUSCOLANA/ANAGNINA
3,1#1-2,07:41:16,07:41:16,74716,4,NaN,2963,0,T01,1#28,TUSCOLANA/ANAGNINA
4,1#1-2,07:47:00,07:47:00,82543,5,NaN,4466,1,T01,1#28,TUSCOLANA/ANAGNINA
...,...,...,...,...,...,...,...,...,...,...,...
4039450,0#4001-23,23:57:20,23:57:20,76058,3,NaN,491,0,980,0#7,OSPEDALE S. FILIPPO NERI (H)
4039451,0#4001-23,23:58:14,23:58:14,76059,4,NaN,823,0,980,0#7,OSPEDALE S. FILIPPO NERI (H)
4039452,0#4001-23,23:58:48,23:58:48,76060,5,NaN,1031,0,980,0#7,OSPEDALE S. FILIPPO NERI (H)
4039453,0#4001-23,23:59:12,23:59:12,76061,6,NaN,1172,0,980,0#7,OSPEDALE S. FILIPPO NERI (H)
4039454,0#4001-23,23:59:48,23:59:48,76062,7,NaN,1392,0,980,0#7,OSPEDALE S. FILIPPO NERI (H)

In [4]:
df_vp_total = df_vp_total.rename(columns={'vehicle.trip.tripId': 'trip_id'})
df_vp_total

NameError: name 'df_vp_total' is not defined

In [17]:
atac_state.merge(df_vp_total, on = "trip_id",how = "inner")

Empty DataFrame
Columns: [trip_id, arrival_time, departure_time, stop_id, stop_sequence, stop_headsign, shape_dist_traveled, timepoint, route_id, service_id, trip_headsign, id, isDeleted, vehicle.trip.startTime, vehicle.trip.startDate, vehicle.trip.routeId, vehicle.trip.directionId, vehicle.position.latitude, vehicle.position.longitude, vehicle.position.odometer, vehicle.currentStopSequence, vehicle.currentStatus, vehicle.timestamp, vehicle.stopId, vehicle.vehicle.id, vehicle.vehicle.label, vehicle.occupancyStatus, vehicle.trip.scheduleRelationship, max_time]
Index: []

[0 rows x 29 columns]

In [19]:
df_tu_total = df_tu_total.rename(columns={'tripUpdate.trip.tripId': 'trip_id'})
df_tu_total

,id,isDeleted,trip_id,tripUpdate.trip.startTime,tripUpdate.trip.startDate,tripUpdate.trip.routeId,tripUpdate.trip.directionId,tripUpdate.stopTimeUpdate,tripUpdate.vehicle.id,tripUpdate.vehicle.label,tripUpdate.timestamp,tripUpdate.delay,max_time
0,1,False,0#723-21,14:30:00,20230906,087,0.0,"[{'stopSequence': 1, 'departure': {'delay': -3...",194,0243,2023-09-06 12:24:14,-358.0,2023-09-06 12:24:32
1,2,False,0#725-17,14:03:00,20230906,089,1.0,"[{'stopSequence': 20, 'arrival': {'delay': -52...",197,0246,2023-09-06 12:24:07,-508.0,2023-09-06 12:24:32
2,3,False,0#4512-14,14:05:00,20230906,870,1.0,"[{'stopSequence': 18, 'arrival': {'delay': 20,...",199,0248,2023-09-06 12:24:22,-48.0,2023-09-06 12:24:32
3,4,False,0#4687-9,13:39:00,20230906,228,0.0,"[{'stopSequence': 43, 'arrival': {'delay': -71...",202,0251,2023-09-06 12:24:11,-720.0,2023-09-06 12:24:32
4,5,False,0#4689-9,14:06:00,20230906,228,0.0,"[{'stopSequence': 21, 'arrival': {'delay': -37...",203,0252,2023-09-06 12:24:10,-406.0,2023-09-06 12:24:32
...,...,...,...,...,...,...,...,...,...,...,...,...,...
205706,857,False,0#1923-12,14:00:00,20230906,44,1.0,"[{'stopSequence': 32, 'arrival': {'delay': -19...",4624,0839,2023-09-06 12:34:49,-192.0,2023-09-06 12:35:31
205707,858,False,0#4636-12,14:34:00,20230906,62,0.0,"[{'stopSequence': 1, 'departure': {'delay': 10...",4625,0840,2023-09-06 12:35:05,40.0,2023-09-06 12:35:31
205708,859,False,0#2068-10,13:47:00,20230906,490,0.0,"[{'stopSequence': 34, 'arrival': {'delay': -27...",4626,0841,2023-09-06 12:35:24,-272.0,2023-09-06 12:35:31
205709,860,False,0#47-11,13:42:00,20230906,H,0.0,"[{'stopSequence': 1, 'departure': {'delay': 29...",4627,0842,2023-09-06 12:34:53,2900.0,2023-09-06 12:35:31
205710,861,False,0#4643-10,14:17:00,20230906,62,0.0,"[{'stopSequence': 6, 'arrival': {'delay': 662,...",4628,0843,2023-09-06 12:35:30,648.0,2023-09-06 12:35:31

In [20]:
atac_state.merge(df_tu_total, on = "trip_id",how = "inner")

Empty DataFrame
Columns: [trip_id, arrival_time, departure_time, stop_id, stop_sequence, stop_headsign, shape_dist_traveled, timepoint, route_id, service_id, trip_headsign, id, isDeleted, tripUpdate.trip.startTime, tripUpdate.trip.startDate, tripUpdate.trip.routeId, tripUpdate.trip.directionId, tripUpdate.stopTimeUpdate, tripUpdate.vehicle.id, tripUpdate.vehicle.label, tripUpdate.timestamp, tripUpdate.delay, max_time]
Index: []

[0 rows x 23 columns]